.carou {
	height: 90vh;
}

/* carousel */

.carousel-indicators > li {
	border-radius: 50px;
    height: 10px;
    width: 10px;
}
.title {
	color: blue;
	font-family: "comic sans mc";
}
.padt5 {
	padding-top: 5%;
}
footer {
	background-color: #bebebe;
}
.facebook {
	background-color: black;
    color: white;
    font-size: 31px;
}